* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/SanDiego.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body.background-image {
    opacity: 0.1;
}

.headline {
    font-family: 'Kalam';
    color: white;
    text-shadow: 1px 1px 3px #000;
}

#portfolioPic {
    width: 80%;
}

#about {
    font-family: 'Kalam';
    font-size: 25px;
    color: darkslategrey;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

#nav {
    height: 60px;
    background: rgb(248, 158, 233);
    display: block;
    position: relative;
    width: 30%;
    float: right;
    margin-top: 10%;
}

.nav-link1 {
    position: relative;
    left: 10%;
    display: inline-block;
}

.nav-link2 {
    position: relative;
    left: 25%;
    display: inline-block;
}

.nav-link3 {
    position: relative;
    left: 40%;
    display: inline-block;
}

#contactForm {
    font-display: black;
}

.contactMe {
    position: relative;
    left: 5%;
    top: 20%;
    width: 100%;
}

.heading {
    font-family: 'Kalam';
    color: rgb(19, 17, 17);
    position: relative;
    left: -40%;
    top: auto;
    text-align: left;
}

.row {
    text-align: left;
}

#contact-form {
    color: rgb(168, 41, 147);
}

#school-icon{
    left: 10%
}
h4, p{
    font-family: 'Kalam';
    font-size: 25px;
    color: darkslategrey;
    color: white;
    text-shadow: 3px 3px 5px #000;
}