.container {  
    display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(3, 100px);  
}
.col-md-4{
    width: 100%;
    display: block;
    height: auto;
}

